button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@mdo') Insciption
 
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title New message
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
         form.form-signin
            .form-label-group
              input#inputUserame.form-control(type='text' placeholder='Username' required='' autofocus='')
              label(for='inputUserame') Username
            .form-label-group
              input#inputEmail.form-control(type='email' placeholder='Email address' required='')
              label(for='inputEmail') Email address
            hr
            .form-label-group
              input#inputPassword.form-control(type='password' placeholder='Password' required='')
              label(for='inputPassword') Password
            .form-label-group
              input#inputConfirmPassword.form-control(type='password' placeholder='Password' required='')
              label(for='inputConfirmPassword') Confirm password
            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Register
            a.d-block.text-center.mt-2.small(href='#') Sign In
            hr.my-4
            button.btn.btn-lg.btn-google.btn-block.text-uppercase(type='submit')
              i.fab.fa-google.mr-2
              |  Sign up with Google
            button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit')
              i.fab.fa-facebook-f.mr-2
              |  Sign up with Facebook
